@charset "UTF-8";
@font-face {
    font-family: bebas;
    src: url(Fontes/Bebas-Regular.otf);
}
:root{
    --cor01:#DE7E35;
    --cor02:#E3A87B;
    --cor03:#5E3617;
    --cor04:#5E4633;
    --cor05:#AB6129;
    
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    /*Cabeçalho*/

header{
    line-height: 10px;
    width: 100%;
    max-height: 50px;
    background-color: var(--cor01);
    color: white;
    padding: 20px 0 ;
    border-bottom: 2px solid var(--cor04);
    display: inline-block;
}
header h1 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.43);
    font-size: 2.5em;
    padding-left: 50px;
    font-family: bebas,Arial, Helvetica, sans-serif;
    
}


    /*Título*/
main{
    padding-top: 30px;
    text-align: center;
    

}
.local{
    max-width: 600px;
    display: inline-flex;

    width: 100%;
    height: 600px;
    height: 750px;


}

main h1{
    height: 200px;
}

.titulo h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 50px;
}

    /*Contas*/

.contas{
    margin-bottom: 80px;
    text-align:left;
    margin-top: 0px;
  
 

}

.contas div{
    
    padding-left: 30px;
    
    
}.contas h2{
    font-family: bebas, Arial, Helvetica, sans-serif;
    color: var(--cor03);
    margin-top: 10px;
}
.contas .cinput{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid black;

    
}

.contas .bt{
    height: 30px;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
    border: 2px solid black;
    margin-top:50px;

}

.contas .result{
    display: inline-block;
    font: normal 1em arial;

    
}
.resultado{
    text-align: center;
    font-family: arial,helvetica,sans-serif;
    margin-bottom: 10px;
    margin-top: 50px;
}

.bt{
    margin-bottom: 20px;
}




::placeholder{
    font-family: Arial, Helvetica, sans-serif ;
}




footer{
    min-width: 100px;
    background-color: var(--cor01);
    margin-bottom: 0px;
    margin-top: 30px;
    height: 30px;
    color: white;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.463);
}